.status {
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 50%;
  margin: 5px 5px 0 0;
}
.status.checked-in {
  background-color: turquoise;
}

.status.checked-out {
  background-color: tomato;
}
.passenger{
  display:flex;
  padding:10px 0px 10px 10px;
  align-items: center;
  border-radius: 3px;
  color:black;
  border:1px solid rgb(120,120,120);
  width:auto;
  min-width: 700px;
  margin: 15px;
  background-color: rgba(240,240,240,0.8);
  padding: 15px 0 8px 0;
}
label{font-weight: bold;}
.action{
  justify-self: end;
}
.passenger div{margin-left: 25px;flex-basis: auto;}
.action{margin-right: auto;}
.action button{
  margin-left:25px;
  /*display: flex;
  align-items: flex-end;*/
  padding: 5px 10px 5px 10px;
}
.action button:hover{
  background-color: blueviolet;
}
.name{font-weight: 600;}
.checkin-label,.children-label{font-weight: bold;color:black}
.passenger-name{margin-left: 15px;}
