<div class="passenger">
  <div class="passenger-name">
<span
      class="status"
      [ngClass]="{
        'checked-in': passenger.checkedIn,
        'checked-out': !passenger.checkedIn
      }"
    ></span>
    <div>
        <input
      type="text"
      class="name"
      [value]="passenger.fullName"
      *ngIf="editing"
      (input)="handleFullNameEdit($event)"
    />
    </div>
  </div>
    <div>
    <span *ngIf="!editing">{{ passenger.fullName }}</span>
    </div>
    <div class="checkin-date">
      <label class="checkin-label">Check in date :</label>
      {{
        passenger.checkInDate
          ? (passenger.checkInDate | date: "y MMMM d" | uppercase)
          : "not checked in"
      }}
    </div>
    
    <div class="children"><label class="children-label">Children :</label> {{ passenger.children?.length || 0 }}</div>
    <div class="action">
      <button (click)="toggleEdit()">{{ editing ? "done" : "edit" }}</button>
      <button (click)="handleRemove(passenger.id)">remove</button>
    </div>
    </div>