<add-passenger (newPassenger)="addNewPassenger($event)"></add-passenger>

<h3>AirLine passengers</h3>
<div class="container">
  <div *ngIf="!passengers?.length"><p><b>Fetching passengers</b></p></div>
    <passenger-counter [items]="passengers"></passenger-counter>
    <passenger-list
      *ngFor="let passenger of passengers"
      [passenger]="passenger"
      (edit)="editPassenger($event)"
      (remove)="removePassenger($event)"
    ></passenger-list>

 </div>   